@font-face {
  font-family: 'Code-Pro-LC';
  src: url('../fonts/Code-Pro-LC.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Code-Pro-Bold-LC';
  src: url('../fonts/Code-Pro-Bold-LC.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.otf') format('opentype');
  font-style: normal;
  font-display: swap;
}