main .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 265.5rem;
  left: 0;
  right: 0;
}

main .cards .card {
  width: 196rem;
  height: 252rem;
  opacity: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .cards .card:after {
  content: '';
  background: transparent linear-gradient(269deg, #0C192F00 0%, #020A17 55%, #5C657400 100%) 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
  opacity: 0.75;
  filter: blur(12px);
  height: 10rem;
  width: 146%;
  position: absolute;
  bottom: -17%;
  left: 50%;
  transform: translateX(-50%);
}

main .cards .card.center {
  width: 251.5rem;
  height: 323rem;
  margin: 0 40.5rem;
}

main .cards .card div {
  position: absolute;
  width: 100%;
  height: 100%;
}

main .cards .card img {
  mix-blend-mode: lighten;
}

main .cards .card img.icon-1 {
  width: 105rem;
}

main .cards .card img.icon-2 {
  width: 165rem;
}

main .cards .card img.icon-3 {
  width: 105rem;
}

main .btn-start {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 659.5rem;
  width: 194rem;
  height: 54rem;
  transition: all .3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 32rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  /* opacity: 0.7; */
}

main .btn-start div {
  position: absolute;
  left: 0;
  height: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  transition: all .3s ease-in-out;
}

main .btn-start p {
  font-family: var(--Code-Pro-LC);
  color: #B1E8FF;
  font-size: 20rem;
  transition: all .3s ease-in-out;
  opacity: 0.7;
}

main .btn-start:hover {
  opacity: 1;
}

main .btn-start:hover p {
  color: var(--color-white);
  opacity: 1;
  mix-blend-mode: lighten;
}

main .btn-start:hover div {
  opacity: 1;
}